<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Lalit Bauskar</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description"
			content="Lalit Bauskar's personal website. Showcases his portfolio, work experience, extracurricular involvement, and contact information.">
		
		<script type="application/ld+json">
			{
				"@context": "//schema.org",
				"@type": "ProfilePage",
				"author": {
					"type": "Person",
					"name": "Lalit Bauskar"
				},
				"datePublished": "2021-06-08",
				"description": "Lalit Bauskar's personal website and portfolio."
			}
		</script>


		<!-- icons, fonts, and stylesheets -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
			integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" 
			crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Lato&display=swap" crossorigin="anonymous" referrerpolicy="no-referrer"/> 
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" type="text/css" href="/css/index.css"/>

		<!-- favicon stuff -->
		<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
		<link rel="manifest" href="favicon/site.webmanifest">
	</head>
	<body>
	<div class="container" style="padding: 0; min-width: 100%;"> <!--makes sticky navbar work -->

		<!-- Home -->
		<div class="container-fluid section" id="home">
			<div>
				<h1>
					Hello! I'm
					<span id="name-span"><!-- Lalit Bauskar --></span><span id="cursor">|</span>
					<br/> – a CS senior at Texas A&M.
				</h1>
			</div>

			<br/>
			
			<button type="button" class="btn btn-outline-light" onclick="scrollToID('about');" id="see-more-btn">
				<span class="h3"> See more </span> 
			</button>
		</div>

		<!-- Navbar -->
		<nav class="navbar sticky-top navbar-expand-sm navbar-dark" id="navbar">
			<div class="container h5">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active" id="home-nav-item">
							<a class="nav-link" onclick="scrollToID('home');"> Home </a>
						</li>
						<li class="nav-item" id="about-nav-item">
							<a class="nav-link" onclick="scrollToID('about');">About</a>
						</li>
						<li class="nav-item" id="projects-nav-item">
							<a class="nav-link" onclick="scrollToID('projects');"> Projects </a>
						</li>
						<li class="nav-item" id="experience-nav-item">
							<a class="nav-link" onclick="scrollToID('experience');"> Experience </a>
						</li>
						<li class="nav-item" id="contact-nav-item">
							<a class="nav-link" onclick="scrollToID('contact');"> Contact </a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- About -->
		<div class="container" id="about-wrapper">
		<div class="container section" id="about">
			<br/> <br/> <br/>
			<h1 class="text-center"> About </h1>
			<br/>
			<div class="container">
				<div class="row">
					<div class="col-md text-center">
						<div id="profile-picture-container" class="far-left">
							<img src="img/me-25.jpg" alt="Picture of me staring into the sun" loading="lazy">
						</div>
						<br/> 
						<h2 class="far-left"> So who are you?</h2>
						<p class="far-left"> 
							I'm an undergraduate at Texas A&M University where I'm getting a Bachelor's in Computer Science with a minor in Mathematics.
							I love creatively solving problems and taking a hands-on approach to learning new tools and skills. I grew up on the border town
							of Brownsville, TX, and I'm passionate about making technical fields more accessible to everyone. My expected graduation date is May 2022.
							<br/> <br/>
							If you want a printable overview of things I've done, you can download my resume below.
						</p>
						<a class="btn btn-outline-dark far-left" style="font-size: larger; font-family: sans-serif;"  href="/resume">
							<span class="fas fa-file-pdf"></span> Resume
						</a>
						<br/> <br/>
					</div>
					<div class="col-md" style="align-self: center;" id="skill-stars">
						<% for (const star of stars) { %>
							<%- star.toHTML() %>
						<% } %>
					</div>
				</div>
				<br/>
			</div>
		</div>
		</div>

		<!-- Projects -->
		<div class="container" id="projects-wrapper">
		<div class="container section" id="projects">
			<br/> <br/> </br/>
			<h1> Projects </h1>
			<br/>
			
			<div class="container flex gallery">
				<% for (const project of projects) { %>
					<%- project.tileHTML() %>
				<% } %>
			</div>

			<div class="modals">
				<% for (const project of projects) { %>
					<%- project.modalHTML() %>
				<% } %>
			</div>
			
			<br/>
		</div>
		</div>

		<!-- Experience -->
		<div class="container" id="experience-wrapper">
		<div class="container section" id="experience">
				<br/> <br/> </br/>
				<h1> Experience </h1>
				<br/>

				<div class="container flex gallery">
					<% for (const experience of experiences) { %>
						<%- experience.tileHTML() %>
					<% } %> 
				</div>
	
				<div class="modals">
					<% for (const experience of experiences) { %>
						<%- experience.modalHTML() %>
					<% } %> 
				</div>
				
				<br/>
		</div>
		</div>

		<div id="bottom-chevron"></div>
		
		<!-- Contact -->
		<div class="container" id="contact-wrapper">
		<div class="container" id="contact">
			<br/>
			<h1> Contact </h1>
			<br/>
			<p style="font-size: larger;"> Let's keep in touch </p>

			<div class="flex" id="contact-buttons">
				<a class="btn btn-outline-info blue-filter" href="//linkedin.com/in/lalit-bauskar" target="_blank" rel="noreferrer noopener" title="LinkedIn" id="linkedin-button"> </a>
				<a class="btn btn-outline-info blue-filter" href="//github.com/lbauskar" target="_blank" rel="noreferrer noopener" title="GitHub" id="github-button"> </a>
				<a class="btn btn-outline-info blue-filter" href="mailto:labauskar@gmail.com" target="_blank" rel="noreferrer noopener" title="Email" id="email-button"> </a>
			</div>
			<br/>
		</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdn.jsdelivr.net/npm/three@0.129.0/build/three.min.js" integrity="sha256-qdgepj/cuK3QsiLmELb2ouRo37UbWaIhCJmRisNu0/c=" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="/vendor/jquery.appear.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="/js/index.js"></script>

	</div>
	</body>
</html>
